force-app/main/default/flows/RetryLog.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Retry</name>
        <label>Execute Retry</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <actionName>RetryLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>iLID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iLProcessName</name>
            <value>
                <elementReference>$Record.Process_Name__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RetryLog</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_SF_Admin</name>
        <label>Send Email to SF Admin</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Retry_Log__c.Integration_Outbound_Retry_max_reached_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Retry_Max_Retry_to_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Retry_Log__c.Integration_Outbound_Retry_max_reached_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Retry_Count_Immidiate</name>
        <label>Retry Count Immidiate</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Max_unchanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retry_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Max_Retry_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Retry_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Retry_Count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_SF_Admin</targetReference>
            </connector>
            <label>&gt;=Max unchanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RetryCount</name>
        <dataType>Number</dataType>
        <expression>2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RetryUpdateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF( {!$Record.Retry_Count__c} = 0, {!$Record.Retry_Date_Time__c} , {!$Record.Retry_Date_Time__c} + {!$Record.Retry_Interval_In_Minutes__c} / 60 / 24)</expression>
    </formulas>
    <interviewLabel>RetryLog {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RetryLog</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Retry_Max_Retry_to_True</name>
        <label>Update Retry/Max Retry to True</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Max_Retry_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retry_Count_Immidiate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Max_Retry_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Processed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </filters>
        <object>Retry_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>At_Retry_Date</name>
            <connector>
                <targetReference>Execute_Retry</targetReference>
            </connector>
            <label>At Retry Date</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Retry_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
